n8n/workflows/02-daily-digest-slack.json
{
  "name": "Goldenray · Daily digest → Slack (08:15 NZ)",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [{ "mode": "everyDay", "hour": 8, "minute": 15 }]
        }
      },
      "id": "cron",
      "name": "Every day 08:15 NZ",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5000/webhooks/n8n/job/digest",
        "requestMethod": "POST",
        "options": {
          "headers": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] }
        }
      },
      "id": "fetch",
      "name": "Call /jobs/digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/REPLACE_ME",
        "requestMethod": "POST",
        "bodyContentType": "json",
        "jsonParameters": true,
        "bodyParametersJson": "={{ {\n  \"text\": \":bar_chart: *Daily digest* — \" + $json.result.new_leads.count + \" new leads · \" + $json.result.orders.count + \" orders · $\" + Math.round($json.result.total_revenue_24h) + \" revenue · \" + $json.result.overdue_tasks.count + \" overdue tasks\"\n} }}"
      },
      "id": "slack",
      "name": "Post digest to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Every day 08:15 NZ": {
      "main": [[{ "node": "Call /jobs/digest", "type": "main", "index": 0 }]]
    },
    "Call /jobs/digest": {
      "main": [[{ "node": "Post digest to Slack", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "tags": ["goldenray", "digest"]
}
